/* 공통 */
.innerBox {
    max-width: 1600px; 
    /* background-color: rgba(255,0,0,0.3); */
    margin: 0 auto;
    padding: 0 2em;
    position: relative;
}

/* 없애기 */
.ham {display: none;}

.ham-menu {display: none;}

.burger-check {display: none;}

.burger-icon {display: none;}

/* 1. header */
header .innerBox {display: flex; justify-content: flex-start; align-items: center ;z-index:999;}

header {width: 100%; height: 0;}

header img {margin-top: 5px;}

header #nav {display: flex;}

header #nav > li {margin-left:60px; padding:0 20px;}

header #nav > li a {color: #fff; font-size: 16px; }
    
header #nav > li:hover a {font-weight: bold; transition: 2s}

header .rightGnb {position: absolute; right: 0; padding-right:20px;}

/* 2. #mainBanner */
#mainBanner {width: 100%; height: 100vh; /*height: calc(100vh - 75px);*/ min-height: 600px;}

.bannerWrap {height: 100%; overflow: hidden;}

.banner {width: 300%; height: 100%; display: flex;}

.banner > li {height: 100%; flex: 1;  background-size: cover; background-position: center center;}

.banner > .b1 {background-image: url(../images/pc-main.png);}

.banner > .b2 {background-image: url(../images/pc-main1.png);}

.banner > .b3 {background-image: url(../images/pc-main2.png);}

.banner .wordWrap {
    max-width: 100%; 
    position:relative;
    /* padding: 20em; */
    padding-left: 18em;
    padding-top: 10em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner .title {
    font-size: 40px; 
    font-weight: bold; 
    color: #fff; 
    text-shadow: 1px 1px 1px #292929;
    line-height: 2;
}

.banner p {
    font-size: 16px;
    display: block;
    color: #fff;
    text-shadow: 1px 1px 1px #292929;
    margin-bottom: 2rem;
    width: 80%;
}

.banner p .sq {border: 1px solid #fff;}

.banner button {
    position: relative;
    top: 46%;
    width: 163px;
    height: 39px;
    border: 2px solid #fff;
    background: rgba(255,255,255,0.3);
    box-shadow: 1px 1px 1px #ccc;
}

.banner button:hover {
    background: #fff;
    transition: 0.5s;

}

.banner button:hover a {color: #000; font-weight: bold;}

.banner button a {
    font-size: 16px;
    color: #fff;
}

.arrowBtn>.leftBtn {
    display: block; 
    width: 32px; 
    height: 30px; 
    background: rgba(0,0,0,0.6);
    position: absolute; 
    top: 50%; 
    left: 6%; 
}

.arrowBtn>.leftBtn:hover {
    background: #000;
}

.arrowBtn>.leftBtn img {padding: 3px;}

.arrowBtn>.rightBtn {
    display: block; 
    width: 32px; 
    height: 30px; 
    background: rgba(0,0,0,0.6);
    position: absolute; 
    top: 50%; 
    right: 6%; 
}

.arrowBtn>.rightBtn:hover {
    background: #000;
}

.arrowBtn>.rightBtn img {padding: 3px;}

.pager { 
    position: absolute; bottom: 10em; left: 50%; transform: translateX(-50%); 
    display: flex; column-gap: 24px; opacity: 0.9;
}

.pager > li > a {
    display: block; width: 16px; height: 16px; background: #fff; 
    text-align: center; text-indent: -9999px; border-radius: 50%;
}

.pager > .active > a {background: rgba(0,0,0,0.9); color: #fff;}

/* footer */
footer {width: 100%; background: #292929; z-index:999; position: relative; bottom: 0;}

footer .innerBox {display: flex; justify-content: space-between; align-items: center; height: 75px;}

footer .footRight {display: flex; align-items: center; column-gap: 10px; padding-top:5px;}

footer .footRight img{width: 40px; }

footer address {font-style: normal;}

footer p {color: #fff; font-size: 12px;}

/****************************** responsive ******************************/

/****************************** 1279px ******************************/
@media screen and (max-width: 1279px){
    /* 사이즈 변환 */
header .innerBox {padding: 0 2em;}

.arrowBtn>.leftBtn {
    left: 3%; 
}

.arrowBtn>.rightBtn {
    right: 3%; 
}

.ham-menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 0;
    transition: 0.5s ease;
    z-index: 1;
    background-color: #73D7F4;
    }

.back {width: 500px;}

.hamGnb {overflow: hidden;}

.hamGnb li {
    padding: 35px 10px;
    border-bottom: 1px solid #fff;
    }

.hamGnb li:first-child {
    margin-top: 50px;
    border-top: 1px solid #fff;
}

.hamGnb li a {
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    word-wrap: normal;
    }

.hamGnb li:hover a {
    color: #292929;
    transition: all 0.5s;
    }

    .hamGnb li:hover {
        background: #fff;
    }

.ham-icon {display: flex; column-gap: 10px; justify-content: flex-end; overflow: hidden; margin-right: 10px;}

.ham-icon > li {width: 30px; border: none;}

.ham-icon > li a img {width: 30px;}

.burger-icon {
cursor: pointer;
display: inline-block;
position: absolute;
z-index: 2;
padding: 0 2em;
top: 50%;
right: 0%;
user-select: none;
width: auto;
margin: 0;
}

.burger-icon .burger-sticks {
background: #fff;
display: block;
height: 2px;
position: relative;
transition: background .2s ease-out;
width: 25px;
}

.burger-icon .burger-sticks:before,
.burger-icon .burger-sticks:after {
background: #fff;
content: '';
display: block;
height: 100%;
position: absolute;
transition: all .2s ease-out;
width: 100%;
}

.burger-icon .burger-sticks:before {
top: 5px;
}

.burger-icon .burger-sticks:after {
top: -5px;
}

.burger-check {
display: none;
}

.burger-check:checked~.ham-menu {
max-width: 60%;
height: 100vh;
}

.burger-check:checked~.burger-icon .burger-sticks {
background: transparent;
}

.burger-check:checked~.burger-icon .burger-sticks:before {
transform: rotate(-45deg);
}

.burger-check:checked~.burger-icon .burger-sticks:after {
transform: rotate(45deg);
}

.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
top: 0;
}

/* 나타내기 */
.ham {display: block; position: absolute; right: 0; padding: 0 2em;}

.ham-menu {display: block;}

/* .burger-check {display: block;} */

.burger-icon {display: block;}

/* 없애기 */
header #nav {display: none;}

header .rightGnb {display: none;}
}

/****************************** 1020px ******************************/
@media screen and (max-width: 1020px){
    /* 사이즈 변환 */

    /* 나타내기 */

    /* 없애기 */
}

/****************************** 767px ******************************/
@media screen and (max-width: 767px){
    /* 사이즈 변환 */
    .banner .title {font-size: 3em;}

    .banner p {width: 60%;}

    .banner .wordWrap {margin: 0 auto;}
    /* 나타내기 */
    /* 없애기 */
}

/****************************** 640px ******************************/
@media screen and (max-width: 640px){
    /* 사이즈 변환 */
    /* 나타내기 */
    /* 없애기 */
}

/****************************** 480px ******************************/
@media screen and (max-width: 480px){
    /* 사이즈 변환 */
    .banner .title {
        font-size: 2.5em;
        width: 100%;
        line-height: 36px;
        padding-bottom: 15px;
    }

    .banner .wordWrap {
        top: 45%;
        left: 33%;
    }

    .banner p {width: 100%;}
    /* 나타내기 */
    /* 없애기 */
}

/****************************** 390px ******************************/
@media screen and (max-width: 390px){
    /* 사이즈 변환 */
    .banner .title {
        font-size: 2.2em;
        line-height: 36px;
    }

    .banner .wordWrap {
        top: 45%;
        left: 25%;
    }

    .banner p {width: 100%;}

    footer {height: 12vh;}

    footer .footLeft {margin-top: 35px;}

    footer .footRight {column-gap: 2px; margin-top: 35px;}

    footer .footRight img{width: 40px; }

    footer address {font-style: normal;}

    footer p {color: #fff; font-size: 12px;}
    /* 나타내기 */
    /* 없애기 */
}